    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="#"class="simple-text logo-normal">
          IITM
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item ">{% comment %} {% if 'index' in segment %} active {% endif %} {% endcomment %}
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'createproduct' %}">
              <i class="material-icons">inventory</i>
              <p>Add product</p>
            </a>
          </li>
            <li class="nav-item ">
              <a class="nav-link" href="{% url 'showproduct' %}">
                <i class="material-icons">library_books</i>
                <p>Showproduct</p>
              </a>
            </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'createemployee' %}">
                  <i class="material-icons">accessibility</i>
                  <p>Add employee</p>
                </a>
              </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{%url "showemployee" %}">
                    <i class="material-icons">person</i>
                    <p>Show Employee List</p>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{% url "createorder" %}">
                    <i class="material-icons">addbox</i>
                    <p>Add Order</p>
                  </a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="{%url "showorder" %}">
                    <i class="material-icons">swipeup</i>
                    <p>Show Order</p>
                  </a>
                </li>

          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">library_books</i>
              <p class="">
                Add product
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
              <a class="dropdown-item" href="{% url 'createproduct' %}">Add product</a>
              <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'showproduct' %}" >show product</a>
            </div>
          </li>
         <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">person</i>
              <p class="">
                Employee
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
              <a class="dropdown-item" href="{% url 'createemployee' %}">Add Employee</a>
              <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="{% url 'showemployee' %}" >show Employee</a>
            </div>
          </li> 
          <li class="nav-item ">
            <a class="nav-link" href="{%url "categoryshow"%}">
              <i class="material-icons">dashboard</i>
              <p>Category</p>
            </a>
          </li>
             {% endcomment %}

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>

                  

        {% endif %}
        </ul>
      </div>

    </div>
