{% extends "layouts/base.html" %}

{% block title %}Add Employee{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Add employee</h4>
                  <p class="card-category">Employee</p>
                </div>
                <div class="card-body">
                  <div class="col-md-12 cd">
                    <form method='POST' enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row">
                        <div class='col-sm-12 '>
          
                          {{ upload_form.as_p }}
                          <div>
                            <button type="submit" class="btn btn-lg btn-warning">Submit</button>
                          </div>
                          {% comment %} <button type="submit" class="btn btn-primary pull-right">add</button> {% endcomment %}
                          <div class="clearfix"></div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
                  
{% endblock content %}
<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
